body {background-color: #183a37;}
h1, h2, p, ul, caption {color: #efd6ac;}
tr, th, td, table {color: #efd6ac;}
table, th, td {border: 1px solid;}
a {color: #04151f;}
nav {background-color: #22333b;}
nav a {color: #ffff;}
nav a:hover {background-color: #fffaf0;}
nav {padding: 10px;}
nav {margin-bottom: 30px}
.quote {float: right; margin-right: 10px; color: #efd6ac;}
.row1, .row2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.row1 .col1, .row1 .col2,
.row2 .col1, .row2 .col2 {
  flex: 1;
  background-color: #f3f3f3; 
  border-radius: 10px;          
  padding: 20px;                
}


.row2 {
  margin-top: 40px;
}


.row2 iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


body {
  margin: 30px;
}

footer {
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 2px solid #ccc;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2 {
    flex-wrap: wrap;
}

.responsive-img {
    max-width: 100%;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        width: 100%;
        padding: 15px 0;
    }
    
    nav span {
        display: none;
    }
}

