body {font-family: Verdana;}
p, ul, td, caption, th {color : darkolivegreen;}
h1 {color: slategray;}
h2 {color: sienna;}
.evenrow {background-color: orange;}
h1 {font-size: 6em;}
h2 {font-size: 1em;}
table, th, td {border: 1px solid black;}
